[defaults]
remote_user=student
inventory=/home/student/rhce/inventory
roles_path=/home/student/rhce/roles:/usr/share/ansible/roles
collections_path=/home/student/rhce/mycollections:/usr/share/ansible/collections:~/.ansible/collections
host_key_checking=false

[privilege_escalation]
become=true
become_user=root
become_method=sudo
become_ask_pass=false
